extends ../layout
block content

    h1 #{title}
    ul.list-group
        each reservation, i in reservations
            if user
                if user.id == reservation.userId
                    li.list-group-item
                        a(href="/reservations/"+reservation._id)= reservation.dateReservation