extends ../layout
block content

    h1 #{title}
    form(method='POST',action='/chambres/add')
      #form-group
        label Nombre chambre:
        input.form-control(name='nbChambre',type='text')
      #form-group
        label Addresse:
        input.form-control(name='address',type='text')
      #form-group
        label Metre:
        input.form-control(name='metre',type='text')
      br
      input.btn.btn-primary(type='submit',value='Submit')
        

          
