extends ../layout
block content

    h6= chambre.metre
    p= chambre.metre
    hr
    if user
      if user.id ==chambre.author
    a.btn.btn-default(href='/chambres/edit/'+chambre._id) Edit
    a.btn.btn-danger.delete-chambre(href='#',data-id=chambre._id) Delete
    
    
