extends layout
block content

    #chat
        h2 Chat
        #chat-window
            #output
            #feedback
        input#handle(type='text', placeholder='Handle')
        input#message(type='text', placeholder='Message')
        button#send Send

    script(src='/js/chat.js')